<!DOCTYPE html>
<html>
<head>
  <title>Render</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %>">

<div class="container">
  <%= yield %>
</div>

<div class="modal_container"></div>
<%= javascript_include_tag 'application' %>
</body>
</html>
